<h1>{{title}}</h1>
<p class="component">
  <strong>Sdílený stav v aplikaci:</strong>
  {{randomService.randomString$ | async}}
</p>

<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="calendar">Calendar</a></li>
</ul>

<div class="component">
  <h2>Nactena komponenta z calendar modulu:</h2>
  <ng-template #cmpRef></ng-template>
</div>


<div class="component">
  <h2>Nactena komponenta z standalone widgetu:</h2>
  <ng-template #cmpStandaloneRef></ng-template>
</div>

<router-outlet></router-outlet>
